.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4355f6;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
}

.notification {
  position: relative;
  margin-right: 15px;
}

.notif-icon {
  font-size: 24px;
}

.notif-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.side-nav {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #4355f6;
  width: 200px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.side-nav button {
  background-color: #56dbcf;
  border: none;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.side-nav button:hover {
  background-color: #48c0b7;
}
